@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
/* ::-webkit-scrollbar {
  @apply w-2;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  @apply bg-neutral-900;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-100/30;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-100/40;
} */

@layer base {
  html {
    @apply bg-neutral-900 font-sans font-normal text-neutral-100 antialiased;
    font-size: 62.5%;
    font-optical-sizing: auto;
    scrollbar-gutter: stable both-sides;
  }

  h1,
  h2,
  h3 {
    @apply text-neutral-100;
  }

  h1 {
    @apply text-huge ~-ml-0/4 font-semibold leading-none tracking-tight [text-align-last:justify];
    font-feature-settings: "cv10";
  }

  h2 {
    @apply ~text-sm/base uppercase tracking-tight;
  }

  h3 {
    @apply ~text-lg/xl font-semibold tracking-tight;
  }

  h4 {
    @apply ~text-base/md font-semibold;
  }

  p {
    @apply ~text-base/md text-justify text-neutral-200;
  }
}
